# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Eclipse specific files
/.settings/
/bin/
/target/
/.classpath
/.project

# IntelliJ IDEA specific files
/.idea/
/*.iml
/out/

# Maven specific files
/logs/
/target/
/dependency-reduced-pom.xml
/release.properties
/.mvn/timing.properties

# Gradle specific files
/.gradle/
/build/

# NetBeans specific files
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific files
/.vscode/